.DS_Store
*.log
.idea
**/.idea
*.iml
*.lock
out
**/out
sources_aula
/Exercicio5/nbproject/private/
/Exercicio5/build/
/Exercicio6-GameChovendoMonstros/target/
/Exercicio7-Bebidas/nbproject/private/
/Exercicio7-Bebidas/build/