.DS_Store
*.log
*.ser
.idea
**/.idea
*.iml
*.lock
out
**/out
sources_aula
/Exercicio5/nbproject/private/
/Exercicio5/build/
/Exercicio6-GameChovendoMonstros/target/
/Exercicio7-Bebidas/nbproject/private/
/Exercicio7-Bebidas/build/
/Exercicio8-FabricaAbstrataTelefonia/build/
/Exercicio8-FabricaAbstrataTelefonia/nbproject/private/
/Exercicio9-TemaInterfaceFabrica/build/
/Exercicio9-TemaInterfaceFabrica/nbproject/private/
/Exercicio9-TemaInterfaceFabrica/dist/
/Exercicio10-BuilderRefeicao/build/
/Exercicio10-BuilderRefeicao/nbproject/private/
/Exercicio10-BuilderRefeicao/dist/
/Exercicio11-BuilderPiscinas/nbproject/private/
/Exercicio11-BuilderPiscinas/build/
/Exercicio12-LeituraCSV/nbproject/private/
/Exercicio12-LeituraCSV/build/
/Exercicio13-SerializacaoMensagem/nbproject/private/
/Exercicio13-SerializacaoMensagem/build/
/Exercicio14-PrototypePiscinas/nbproject/private/
/Exercicio14-PrototypePiscinas/build/
/Exercicio15-SingleTon-Telefone/nbproject/private/
/Exercicio15-SingleTon-Telefone/build/
/Exercicio17-AdapterCliente/nbproject/private/
/Exercicio17-AdapterCliente/build/
/Exercicio19-FacadeTelevisao/nbproject/private/
/Exercicio19-FacadeTelevisao/build/
/Exercicio20-CompositeMenu/nbproject/private/
/Exercicio20-CompositeMenu/build/
/Exercicio21-DecoratorCafeteria/nbproject/private/
/Exercicio21-DecoratorCafeteria/build/
/Exercicio22-BridgeArquivos/nbproject/private/
/Exercicio22-BridgeArquivos/build/
/Exercicio23-FabricaBridgeArquivos/nbproject/private/
/Exercicio23-FabricaBridgeArquivos/build/
/Exercicio24-ObservadorCaixaEntrada/nbproject/private/
/Exercicio24-ObservadorCaixaEntrada/build/
/Exercicio25-Posterous/nbproject/private/
/Exercicio25-Posterous/build/
/Exercicio26-StateSemaforo/nbproject/private/
/Exercicio26-StateSemaforo/build/
/Exercicio27-EditorDeTexto/build/
/Exercicio27-EditorDeTexto/nbproject/private/
/Exercicio27-EditorDeTexto/dist/
/Exercicio28-StateTV/nbproject/private/
/Exercicio28-StateTV/build/
/Exercicio29-CommandCanalTV/nbproject/private/
/Exercicio29-CommandCanalTV/build/
/Exercicio30EstrategiaMoverArquivos/nbproject/private/
/Exercicio30EstrategiaMoverArquivos/build/
/Exercicio31-TemplateExportFiles/nbproject/private/
/Exercicio31-TemplateExportFiles/build/
/Exercicio31-TemplateExportFiles/dist/
/Exercicio32-ConfiguracaoSO/build/
/Exercicio32-ConfiguracaoSO/dist
/Exercicio32-ConfiguracaoSO/nbproject/private/
